<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <package android:name="menion.android.locus" />
        <package android:name="menion.android.locus.pro" />
        <package android:name="coredevices.coreapp" />
    </queries>

    <application
        android:name=".BridgeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Locus Pebble Bridge"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocusPebbleBridge">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Export permits Core binding; startup disables auto-selection and pins PebbleKit to CoreApp. -->
        <service
            android:name=".pebble.BridgePebbleListenerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="io.rebble.pebblekit2.RECEIVE_DATA_FROM_WATCH" />
            </intent-filter>
        </service>
    </application>
</manifest>
